<section class="ingresos-register">
  <h3 class="text-primary text-uppercase mb-3">Ingresos</h3>

  <table class="register-table table table-striped">
    <tbody>
      <tr
        *ngFor="let revenue of revenuesRecord"
        (mouseenter)="revenue.hiddeXIcon = false"
        (mouseleave)="revenue.hiddeXIcon = true"
      >
        <td>{{ revenue.getDescription() }}</td>
        <td class="text-end text-primary">
          {{ revenue.getValue() | currency : "USD" : "$" : "1.2-2" }}
          <i
            class="bi bi-x-circle ms-2"
            [ngClass]="{
              'd-none': revenue.hiddeXIcon,
              'd-inline-block': revenue.hiddeXIcon
            }"
            (click)="deleteRevenue(revenue)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</section>
